<div>
  <input class="form-control" type="search" ng-model="q" placeholder="Search" />
  <ul class="list-group">
    <li class="list-group-item animate-repeat" ng-repeat="product in products | filter:q as results">
      <!-- TEMPLATE FOR PRODUCT -->
      [{{$index + 1}}] {{product.asin}} - {{product.title}}
      
      <!-- additional searchable fields -->
      <div style="display:none">
        {{product.description}}
      </div>
    </li>
    <li class="animate-repeat" ng-if="results.length == 0">
      <strong>No results found...</strong>
    </li>
  </ul>
</div>