<div style="height:100%; position:relative; padding-top: 70px" swm-navigation-title="Shop With Me" swm-navigation-clear-history>
  <div class="navbar navbar-fixed-top" style="position: absolute;">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" style="width:100%">
        <span ng-show="!selectedList">Select a list...</span>
        <span ng-show="selectedList">Adding to list: {{selectedList.title}}</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="width:100%">
        <li role="presentation" ng-repeat="list in lists" ng-click="onChangeListItem(list)"><a role="menuitem">{{list.title}}</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation" ng-click="toggleModal()"><a role="menuitem" id="createNewList">Create new list...</a></li>
      </ul>
    </div>
    <input class="form-control" type="search" ng-model="q" placeholder="Search" />
  </div>
  
  <div style="height: 100%;overflow-y: scroll">
    <ul class="list-group">
      <li class="list-group-item animate-repeat" ng-repeat="product in products | filter:q | filterNotOnList:selectedList as results">
        <!-- TEMPLATE FOR PRODUCT -->
        <div class="container">
          <div class="row">
            <div class="col-xs-3">
              <img ng-src="{{product.image_url}}" class="img-responsive">
            </div>
            
            <div class="col-xs-7">
              <h5>{{product.title}}</h5>
              <i ng-repeat="i in getFullStarCount(product.rating) track by $index" class="fa fa-star"></i><i ng-repeat="i in getHalfStarCount(product.rating) track by $index" class="fa fa-star-half-o"></i><i ng-repeat="i in getEmptyStarCount(product.rating) track by $index" class="fa fa-star-o"></i> <small>({{product.rating}})</small>
              <br>
              <small>${{product.cost}}</small>
            </div>
            
            <div class="col-xs-2">
                <i ng-show="!isProductOnSelectedList(selectedList, product.asin) && selectedList" class="fa fa-3x fa-plus-square" ng-click="addProductToList(product, selectedList)"></i>
            </div>
          </div>
        </div>
        
        <!-- additional searchable fields -->
        <div style="display:none">
          {{product.description}}
          {{product.size}}
          {{product.gender}}
        </div>
      </li>
      <li class="animate-repeat" ng-if="results.length == 0">
        <strong>No products remaining...</strong>
      </li>
    </ul>
  </div>
  
  <modal-dialog show='modalShown' width='60%' height='50%'>
    <h2>Create new list...<h2>
    <br>
    <input type="text" class="form-control" placeholder="Title" ng-model="newListTitle">
    <button type="button" class="btn btn-default form-control" role="button" ng-click="saveNewList(newListTitle)">Save</button>
  </modal-dialog>
</div>
