<div style="height:100%;overflow-y: scroll;overflow-x: hidden">
  <div ng-repeat="product in products" style="border-bottom: 1px solid #EEE">
    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <img class="img-responsive" ng-src="{{product.image_url}}" style="max-height:200px;margin: 0 auto">
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-9">
          <h4>{{product.title}}</h4>
        </div>
        <div class="col-xs-3">
          <span class="up-vote">{{product.up_votes}} <i class="fa fa-thumbs-up"></i></span> <span class="down-vote">{{product.down_votes}} <i class="fa fa-thumbs-down"></i></span>
        </div>   
      </div>
      
      <div class="row" ng-repeat="comment in product.comments">
        <div class="col-xs-12">
          <small>{{comment.content}} - {{comment.creator.name}}</small>
        </div>
      </div>       

      <div class="row">
        <div class="col-xs-12">
          <form name="commentForm" class="form-inline">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Add a comment..." ng-model="commentForm.commentText" required>
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-disabled="commentForm.$invalid" ng-click="addComment(commentForm.commentText, product)">Send</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>