<div class="container-fluid">
  <div class="row">
    <div class="col-xs-9">
      <h1>{{listName}}</h1>
    </div>
    <div class="col-xs-3">
      <button type="button" class="btn btn-primary btn-xs" ng-click="addMore()">Add</button>
      <button type="button" class="btn btn-primary btn-xs">Share</button>
    </div>
  </div>
  <ul class="row view-list">
    <li class="col-xs-12 list-item swipeable" ng-repeat="product in products" ng-swipe-left="removeProduct($index)" ng-click="">
      <div class="row">
        <div class="col-xs-3">
          <img ng-src="{{product.image_url}}" class="list-item-image" alt="{{product.title}}"/>
        </div>
        <div class="col-xs-6">
          <h4 class="cut-text">{{product.title}}</h4>
          <p class="cut-text">{{product.description}}</p>
        </div>
        <div class="col-xs-3">
          <span class="text-success">2 <i class="fa fa-thumbs-up"></i></span>, <span class="text-error">7 <i class="fa fa-thumbs-down"></i></span>
        </div>
      </div>
    </li>
    <li class="list-group-item" ng-if="products.length == 0">
      <div class="row">
        <div class="col-xs-12">
          <span class="glyphicon glyphicon-plus"></span>Add more items to your list
        </div>
      </div>
    </li>
  </ul>
</div>