<div style="overflow-y:scroll;height:100%;" class="container" swm-navigation-title="Notifications" swm-navigation-clear-history>
  <ul class="list-unstyled" ng-repeat="notification in notifications">
    <li class="notification row" ng-click="goto(notification)">
      <div class="image col-xs-4">
        <img class="img-circle img-responsive" ng-src="{{notification.actor.image_url}}" />
      </div>
      <div class="content col-xs-8">
        <div class="message">
          <span ng-switch="notification.type">
            <span ng-switch-when="SHARE">
              <b>{{notification.actor.name}}</b> asked you to rate their <b>{{notification.related_object.title}}</b> list
            </span>
            <span ng-switch-when="COMMENT">
              <b>{{notification.actor.name}}</b> commented on the <b>{{notification.related_object.title}}</b> on your
              <b>{{notification.related_object.product_list_title}}</b> list
            </span>
            <span ng-switch-when="RECOMMENT">
              <b>{{notification.actor.name}}</b> also commented on the <b>{{notification.related_object.title}}</b> on
              <b>{{notification.related_object.product_list_owner}}&#39;s</b> <b>{{notification.related_object.product_list_title}}</b> list
            </span>
          </span>
        </div>
        <div class="timestamp">
          {{getMoment(notification.creation_date)}}
        </div>
      </div>
    </li>
  </ul>
</div>