<div class="container-fluid" swm-navigation-title="Share" swm-navigation-right-text="meow" >
    <div class="scrollable" style="padding-top:56px; padding-bottom:56px">
        <input ng-show="friends.length > 3" class="form-control" type="search" ng-model="q" placeholder="Search" />
        <div class="scrollable-content">
            <div class="list-group">
                <a ng-repeat="friend in friends|filter:q as results" class="list-group-item" ng-click="friendClicked(friend); $event.stopPropagation();">
                    <div class="row">
                        <div class="col-xs-3">
                            <img ng-src="{{friend.image_url}}" class="img-rounded">
                        </div>
                        <div class="col-xs-7">
                            <label>{{friend.name}}</label>
                        </div>
                            <i class="fa fa-check fa-4x pull-right"  style="padding-right: .5em" ng-show="friend.selected"></i>
                    </div>
                </a>
                <div ng-show="results.length == 0">
                        <strong>No results found...</strong>
                </div>
            </div>
        </div>

    </div>
</div>
