<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css' />
    
  	<script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src='bower_components/angular-animate/angular-animate.min.js' ></script>
  	<script src="javascripts/app.js"></script>
  
  	<!-- remove once js is concatenated -->
  	<script src="javascripts/controllers/browse.js"></script>
  	<script src="javascripts/controllers/view2.js"></script>
  </head>
  <body>
	<div ng-view></div>
  </body>
</html>
