<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 

    <title><%= title %></title>
	
    <link rel="stylesheet" href="bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css" />	
	
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  	<script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src='bower_components/angular-animate/angular-animate.min.js' ></script>
	  <script src="bower_components/mobile-angular-ui/dist/js/mobile-angular-ui.min.js"></script>	
	
  	<script src="javascripts/app.js"></script>
  
  	<!-- remove once js is concatenated -->
    <!-- Services -->
  	<script src="javascripts/services/navigationService.js"></script>
    
    <!-- Directives -->
  	<script src="javascripts/directives/navigationDirective.js"></script>    
    
  	<script src="javascripts/controllers/browse.js"></script>
  	<script src="javascripts/controllers/view2.js"></script>
  	<script src="javascripts/controllers/browse.js"></script>
  </head>
  <body>
  <div class="app">
    <div class="navbar navbar-app navbar-absolute-top swf-header">
      <swm-navigation></swm-navigation>
    </div>    
    

	  <div class="navbar navbar-app navbar-absolute-bottom">
      <div class="btn-group justified nav-tabs">
        <a class="btn active" href="#/browse">Browse</a>
        <a class="btn" href="#/lists">Lists</a>
        <a class="btn" href="#/incoming">Incoming</a>
        <a class="btn" href="#/notifications">Notifications</a>
      </div>
	  </div>

	  <div class="app-body" style="top:57px;bottom:57px;height:100%">
      <ng-view></ng-view>
	  </div>
	</div>
  </body>
</html>
