<div class="productBox container">
    <div class="centerBlock">
        <img class="productImage" alt="Nautica Men's Striped J-Class T Shirt, Sunrise Red, Small" src="https://images-na.ssl-images-amazon.com/images/I/41hxNdoRXCL.01_AC_SR200,270.jpg">
    </div>
    <div class="productTitle gray-lighter">
        Nautica Men's Striped J-Class T Shirt
    </div>
    <div class="divider"></div>
    <div class="likes">
        <div class="iconColumn"><div class="heart"></div></div>
        <div class="commentColumn">19 likes</div>
    </div>
    <div class="comments">
        <div class="iconColumn"><div class="commentImage"></div></div>
        <a href="#">Liem</a> that's disgusting
    </div>
    <div class="comments">
        <div class="iconColumn">&nbsp;</div>
        <div class="commentColumn"><a href="#">Amin</a> Agreed</div>
    </div>
    <div class="comments">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Write a comment...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Send</button>
            </span>
        </div>
    </div>
</div>
<div class="darkDivider"></div>