<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Twitter bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    
    <style>
        html {
            background-color: #fff;
        }
        body {
            background-color: #fff;
        }
        .productBox {
            padding-top: 10px;
            padding-bottom: 10px;
            width: 100% ;
        }
        .centerBlock {
            display: block;
            margin-left: auto;
            margin-right: auto
        }
        .gray-lighter {
            color: #777;
        }
        .nav {
            position: fixed;
            width: 100%;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
            height: 40px;
            background-color: #3E5B99;
        }
        .navTitle {
            color: #fff;
            font-size: 24px;
            text-align: center;
        }
        .navNotification {
            width: 22px;
            height: 21px;
            background: url('http://passets-ak.pinterest.com/webapp/style/sprites/webapp-desktop-main-1x.24ab7320.png') -354px -443px no-repeat;
            height: 22px;
            float:right;
            margin-top: 10px;
        }
        .navNotificationCount {
            color: #fff;
            margin-right: -17px;
            margin-top: 11px;
            float: right;
            font-size: 11px;
        }
        .bodyContainer {
            padding-top: 50px;
            padding-left: 0px;
            padding-right: 0px;
        }
        .productImage {
            width: 100%;
        }
        .divider {
            width: 100%;
            border-bottom: 1px solid #eee;
        }
        .darkDivider {
            width: 100%;
            border-bottom: 1px solid #777;
        }
        .likes {
            padding-top:10px;
        }
        .comments {
            padding-top: 10px;
        }
        .heart {
            background: url('http://passets-ak.pinterest.com/webapp/style/sprites/webapp-desktop-main-1x.24ab7320.png') -84px -491px no-repeat;
            width: 17px;
            height: 17px;
        }
        .commentImage {
            background: url('http://passets-ak.pinterest.com/webapp/style/sprites/webapp-desktop-main-1x.24ab7320.png') -140px -491px no-repeat;
            width: 17px;
            height: 17px;
            float: left;
            clear:both;
        }
        .iconColumn {
            width: 25px;
            float: left;
        }
        .hide {
            display: none;
        }
    </style>
    
  </head>
  <body>
    <div class="nav">
        <div class="container">
            <div class="navNotification"></div>
            <div class="navNotificationCount">22</div>
            <div class="navTitle centerBlock">Shopify</div>
        </div>
    </div>
    <div class="container bodyContainer">
    </div>
    
    
    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    
    <script type="text/javascript">
        (function() {
            $.ajax({
              url: "/individual-item-view",
              data: {
                  asin: "foo"
              },
            }).done(function(result) {
                for (var i = 0; i < 10; i++) {
                    $(".bodyContainer").append(result);
                }
            });;
            
            
        })();
    </script>
  </body>
</html>
    