<div class="btn-group justified nav-tabs">
  <a class="btn" href="#/browse" ng-click="clearHistory()" swm-nav-active><i class="fa fa-2x fa-search"></i></a>
  <a class="btn" href="#/lists" ng-click="clearHistory()" swm-nav-active><i class="fa fa-2x fa-list-ul"></i></a>
  <a class="btn" href="#/incoming" ng-click="clearHistory()" swm-nav-active><i class="fa fa-2x fa-inbox"></i></a>
  <a div id="notificationTab" class="btn" href="#/notifications" ng-click="clearHistory()" swm-nav-active><i class="fa fa-2x fa-bell"></i> <span class="badge" style="top:-5px;display:none;"></span></a>
</div>