<div>
  <div class="navbar-brand navbar-brand-center">
    {{ns.getTitle()}}
  </div>

  <div class="btn-group pull-left" ng-show="ns.canGoBack()">
    <div class="btn btn-navbar">
      <a class="swf-navbar swf-navbar-back-btn" ng-click="ns.goBack()">&lt; Back</span>
    </div>
  </div>

  <div class="btn-group pull-right" ng-if="ns.getButtons()">
    <span ng-repeat="button in ns.getButtons()">
      <button type="button" class="btn btn-primary btn-xs" ng-click="button.handler()">{{button.text}}</button>
    </span>
  </div>
</div>