body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 20px;
}

a {
  color: #00B7FF;
}

.animate-repeat {
  line-height:40px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

.swf-header {
  background-color: #454562;
  color: white;
}

.swf-navbar {
  color: white;
}

.btn.active {
  background-color: #D8D8D8;
}

.swf-header2 {
  background: #fcf8d4; /* Old browsers */
  background: -moz-linear-gradient(top, #fcf8d4 0%, #f1da36 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcf8d4), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fcf8d4 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fcf8d4 0%,#f1da36 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fcf8d4 0%,#f1da36 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fcf8d4 0%,#f1da36 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf8d4', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
}

.app {
  background-color: #fff;
}

ul.view-list {
  list-style-type: none;
  padding-left: 0;
}

.list-item {
  width: 100%;  
  border-bottom: 2px solid #000;
  padding: 10px;
}

.list-item:first-child {
  border-top: 2px solid #000;
}

.list-item.ng-click-active {
  background-color: #eee;
}

.list-item-image {
  width: 100%;
}

.list-view-item:hover {
  background-color: #f5f5f5;
}

.cut-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.notification {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.notification .timestamp {
  color: gray;
}